<%= form_for @client, :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> Client </legend>

      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :rfc, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :rfc, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :street, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :street, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :num_ext, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :num_ext, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :num_int, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :num_int, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :colony, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :colony, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :delegation, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :delegation, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :state, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :state, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :cp, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :cp, :class => 'number_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :logo_emp, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :logo_emp, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :qr, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :qr, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :username, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :username, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :password, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', clients_path, :class => 'btn' %>
      </div>
    </fieldset>
<% end %>