<h1>Client</h1>

<p>
  <b>Name</b><br>
  <%= @client.name %>
</p>

<p>
  <b>Rfc</b><br>
  <%= @client.rfc %>
</p>

<p>
  <b>Street</b><br>
  <%= @client.street %>
</p>

<p>
  <b>Num ext</b><br>
  <%= @client.num_ext %>
</p>

<p>
  <b>Num int</b><br>
  <%= @client.num_int %>
</p>

<p>
  <b>Suburb</b><br>
  <%= @client.suburb %>
</p>

<p>
  <b>Township</b><br>
  <%= @client.township %>
</p>

<p>
  <b>State</b><br>
  <%= @client.state %>
</p>

<p>
  <b>Cp</b><br>
  <%= @client.cp %>
</p>

<p>
  <b>Logo emp</b><br>
  <%= @client.logo_emp %>
</p>

<p>
  <b>Qr</b><br>
  <%= @client.qr %>
</p>

<p>
  <b>Id user</b><br>
  <%= @client.id_user %>
</p>

<div class="form-actions">
  <%= link_to 'Back', clients_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_client_path(@client), :class => 'btn' %>
  <%= link_to 'Delete', client_path(@client), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
